*{
    cursor: none !important;
}

.mainCursor{
    position: fixed;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    background: red;
    /*mix-blend-mode: difference;*/
    pointer-events: none;
    clip-path: polygon(82% 72%, 41% 64%, 12% 95%, 23% 6%);
    z-index: 999;

}